doctype html
html
  head
    title= title
    link(rel="stylesheet" href='/stylesheets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/skeleton/css/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/mydocs.css')
    link(rel='stylesheet', href='/stylesheets/editor.css')
    link(rel='stylesheet', href='/stylesheets/profile.css')
    link(rel='stylesheet', href='/stylesheets/users.css')
    link(rel='stylesheet', href='/stylesheets/docs.css')
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Arvo')
    script(src='/plugins/jquery-3.1.0.js')
  body
    .navbar
      ul.navbar-left
        a(href="/")
          h4.logo= "Livecode"
      ul.navbar-right
        if user
          li
            a(href="app").livecode-button-container
              button.livecode-button
        else
          li
            input.login-username(type="text" placeholder="Username")
          li
            input.login-password(type="password" placeholder="Password")
          li
            button.login-button= "Login"
          li
            button.register-button= "Register"
            .registerForm.closed
              input.register-username(type="text" placeholder="Username")
              input.register-firstname(type="text" placeholder="First Name")
              input.register-lastname(type="text" placeholder="Last Name")
              input.register-email(type="text" placeholder="Email")
              input.register-password(type="password" placeholder="Password")
              input.register-confirmpassword(type="password" placeholder="Confirm")

    block content
