.block-editor {
  background-color: white;
  z-index: 15;
}

.chat {
  background-color:#efeef1; 
  border: 1px solid grey;
  height: 50%;
  bottom: 10%;
  right: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  overflow: auto;
  border-radius: 5px 5px 0 0;
}

.chat-comments{
  word-wrap: break-word;
  width: 100%;
  height: 92.5%;
}

.chat-comment {
  padding-left: 5px;
  display: block;
  max-width: inherit;
}

.chat-input{
  background-color: #efeef1;
  border: 1px solid grey;
  border-radius: 0 0 5px 5px;
  font-size: 1.5rem;
  height: 7.5%;
  margin-top: 0;
  padding-left: 5px;
  width: 98.1%;
}

.chat-submit {
  width: 20%;
}

#editor {
  overflow: scroll;
  position: absolute;
  top: 5%;
  left: 0;
  right: 30%;
  bottom: 0;
  z-index: -1;
}

.editors {
  background: linear-gradient(#e8e8e8, #1f1c18);
  padding: 10px;
  position: absolute;
  height: 400px;
  width: 250px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -225px;
  transition: margin 1s;
  border-radius: 5px;
  text-align:center;
}

.editors.hidden {
  margin-left: 10000px;
}

.editorList {
  list-style-type: none;
}

.editorList > li {
  margin: 0px;
}

.foundUsers {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  list-style-type: none;
  margin-top: 5px;
}

.foundUser:hover {
  background-color: rgba(0,0,0,0.15);
}

.searchUsers {
  border-radius: 5px;
  height: 3rem;
  width: 100%;
}

.sidebar {
  padding: 12px;
  position: absolute;
  top: 5%;
  left: 70%;
  right: 0%;
  bottom: 0;
  z-index: -1;
}

.sidebar > h4 {
  margin-top: 16px;
}

.toolbar-editor {
  z-index: 15;
}