.block-profile {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
}

.block-profile.hidden {
  left: 100%;
}

.profile-body{
  height: 700px;
}

.profile-details{
  width: 31% !important;
  background-color: white;
  margin-bottom: 15px;
  max-height: 700px;
  /*margin-left: 15px;*/
}

.profile-documents{
  box-sizing: border-box;
  background-color: grey;
  width: 69% !important;
  margin-left:0 !important;
  
}

.profile-image > img {
  box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  padding:15px;
}

.profile-info:last-child{
  margin-bottom: 15px;
}

.profile-info > * {
  color: black;
  margin: 0 15px;
}

.profile-info > h1{
  font-size: 20px;
  text-align: center;
}

.profile-info > h2{
 font-size: 18px;
 text-align: center;
}

.profile-popular{
  background-color: black;
  height: 100px;
}

.table * {
  text-align: center;
}

.table {
  width: 100%;
  height: 700px;
  /*bottom: 0;*/
  overflow-y: auto;
  /*margin: 15px;*/
}