.block-profile {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
}

.block-profile.hidden {
  left: 100%;
}

.profile-details{
  background-color: black;
  height: 100px;
}
.profile-documents{
  background-color: grey;
  height: 100px;
}
.profile-popular{
  background-color: black;
  height: 100px;
}