a {
  text-decoration: none;
}

body {
  font-size: 14px;
  margin: 0px;
} 

button {
  color: white;
}

button:focus {
  color: white;
}

h1 {
  font-size: 160px;
}

h4 {
  font-family: futura;
  font-size: 2rem;
  text-transform: uppercase;
}

h4.logo {
  color: white;
  cursor: pointer;
  font-family: futura;
  font-size: 3rem;
  margin: 0;
  height: 100%;
  text-transform: uppercase;
}

input {
  border-width: 0;
  padding: 0;
  margin: 0;
}

p {
  margin: 0px;
}

table {
  padding: 5% 5%;
  width: 100%;
}