a {
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: Arvo;
  margin: 0px;
} 

button {
  color: white;
}

button:focus {
  color: white;
}

h1 {
  font-size: 160px;
}

h4 {
  font-family: futura;
  font-size: 2rem;
  text-transform: uppercase;
}

h4.logo {
  color: white;
  cursor: pointer;
  font-family: futura;
  font-size: 3rem;
  margin: 0;
  height: 100%;
  text-transform: uppercase;
}

input {
  border-width: 0;
  padding: 0;
  margin: 0;
}

p {
  margin: 0px;
}

table {
  padding: 5% 5%;
  width: 100%;
}

.app {
  margin-top: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.about {
  width: 100%;
}

.block-document {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blurb {
  margin-top: 80px;
}

.blurb {
  font-family: Futura;
}

.document:hover {
  background-color: #33c3f0;
  padding-left: -30px;
}

.hero {
  align-items: center;
  border: 2px solid black;
  display: flex;
  height: 800px;
  margin-top: 59px;
  width: 100%;
}

.hero > .logo {
  color: white;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}

.hero > .filter {
  background-color: black;
  height: 800px;
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

.hero > #hero-editor {
  color: #00FF00;
  height: 800px;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.livecode-button {
  background-image: url("/keyboard.png");
  background-size: 100% 100%;
  margin: 0px;
}

.navbar {
  background-color: black;
  padding: 10px;
  position:absolute;

  top: 0;
  left: 0;
  right: 0;
}

.navbar > ul {
  list-style-type: none;
  margin-bottom: 0px;
}

.navbar > ul > li {
  display: inline;
}

.navbar > ul > li > button,
.navbar > ul > li > input {
  margin: 0px 5px 0px 5px;
  width: 125px;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.open-block-document {
  background-color: black;
  color: white;
  cursor: pointer;
}

.registerForm {
  padding: 5px 15px 5px 15px;
  position: absolute;
  right: 0%;
  z-index: 10;
}

.registerForm.closed {
  bottom: 200%;
}

.registerForm > input {
  display: block;
  margin: 8px 0px;
  width: 124px;
}

.table-container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
}

.toolbar {
  min-width: 46px;
  background-color: #2d2626;
  color: white;
}

.toolbar > div {
  display: inline-block;
  margin-top: 3px;
  padding: 0px 30px;
}

.toolbar > div:hover {
  background-color: white;
  color: black;
}

.toolbar > div > p {
  line-height: 47px;
  margin: 0px;
}